<h1>About Us</h1>
<p>This site was created by Eric Lindow, Co-Chair, Math Department, Trevor Day School</p>
<p>This is a Rails based site for storing information about Problem Based Learning math problems as used at Trevor Day School</p>

<p>Questions courtesy of Phillips Exeter Academy</p>

<p>Creates/maintains a database of questions and topics (has_and_belongs_to_many relationship)</p>
<p>Ruby version 2.0, Rails 4.0.0</p>
<p>PostgresSQL database</p>
<p>User authentication from Devise</p>
<p>Object authorization from CanCan</p>
<p>Image Management from CarrierWave/Rmagick</p>
<p>Search functions using Ransack</p>
<p>Built on Nitrous.io</p>